
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=7, initial-scale=1.0">
    <title>GERENCIADOR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/pag.css') }}">
    <script src="/static/JS/login.js"></script>
    <script src="/static/JS/tela-inicial.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">


</head>
<body>
        <header>
        <h1> ADICIONAR TAREFAS</h1>
      
      <div class="entrada">
         <input type="text" id="tafe"placeholder=" adiciona tarefa ">
         <button class="add">+</button>     
         
     </div>
      </header>
      <div class="app">
         <h3>Minhas Tarefas</h3>
         <ul class="tarefas">
             <li>
             </li>
             <!-- Outros itens da lista aqui -->
         </ul>
         <button id="sair"><b>encerrar seçao</b> </button>
     </div>
</div> 
</body>
</html>