
#particles-js {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
 }

body {
   
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
    background-color: #1DABB8;
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 400px; /* Mantenha a largura máxima desejada */
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #1DABB8;
    z-index: 1;
    max-height: 100%;
    height: 50%;
    
}

.senha-container{
    display: flex;
    align-items: center;
    
}
input[type="password"] {
    background-image: none !important;
}

#senha {
    width: calc(100% - 50px);
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 10px;
    background-color:white;
    margin-left: 6px;
}
#ad1 {
    position: absolute;
    right:580px;
    top:  50%;
    transform: translateY(-50%);
    width: 60px;
    height: 70px;
    border-radius: 50%;
    background-color:#1DABB8;
    border-top-right-radius: black;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.add {
    float: right;
    border-radius: 50% black;
    
    border-bottom: 2px solid ;
    background-color:white;
    width: 40px;
    height: 40px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: black;
    border-width: black;
    color:black;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
   
}


h1 {
    color: white;
    margin-bottom: 20px; /* Espaço extra entre o título e o formulário */

}

.response {
    margin-top: 20px;
    font-weight: bold;
}


input[type="text"],
input[type="password"] {
    width: calc(328px);
    padding: 10px;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
 
}
.input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}

#nomes {
    width: calc(100% - 50px);
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 10px;
    background-color:white;
}
#modal.ppp{
    width: calc(100% - 50px);
    height: 40px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid black;
    font-size: 16px;
    margin-right: 10px;
    background-color:white;
}

#ad {
    position: absolute;
    right:17px;
    top:  40%;
    transform: translateY(-50%);
    width: 60px;
    height: 70px;
    border-radius: 50%;
    background-color: #1DABB8;
    border-color: black;
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
h5{
    font-size: 30px;
}


button {
    background-color: #4caf50;
    color: white;
    padding: 14px 25px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

div:hover{
    background-color:whitesmoke;
}
   button:hover {
            background-color: #26c42e;
        }

#particles-js {
    /* Estilos para a camada das partículas */
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none; /* Garante que as interações do mouse passem através das partículas */
}
#email-modal{
    width: 350px;
    height: 35px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 440px;
    height:480px;
    overflow: auto;
    background-color:white;
    margin-left: 540px;
    margin-top: 80px;
  
    
}
.task-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.task-link:hover {
    text-decoration: none;
}



.modal-conteudo {
    background-color:white;
    color: black;
    margin: 10% auto;
    padding: 20px;
    
    width: 90%;
    height: 450px;
    margin-top: 0px;
    
}
@media screen and (max-width: 768px) {
    .modal {
        /* Estilos específicos para telas menores que 768px de largura */
        padding: 10px;
        
        flex-direction: column;
        align-items: center; /* Reduz o preenchimento em telas menores */
    }

}


#telefone{
    width: 350px;
    height: 30px;
}
a {
    text-decoration: none;
}
/* Estilo para o contêiner do campo de e-mail */
div {
    margin-bottom: 20px; /* Espaçamento entre os elementos */
}

/* Estilo para o rótulo do campo de e-mail */
label {
    font-weight: bold; /* Texto em negrito */
    display: block; /* Faz o rótulo ocupar uma linha inteira */
    margin-bottom: 5px; /* Espaçamento entre o rótulo e o campo de entrada */
}

/* Estilo para o campo de entrada de e-mail */
input[type="email"] {
    width: 90%; /* Ocupa 100% da largura do contêiner */
    padding: 10px; /* Espaçamento interno do campo de entrada */
    font-size: 16px; /* Tamanho da fonte */
    border: 1px solid #ccc; /* Borda com cor cinza claro */
    border-radius: 5px; /* Cantos arredondados */
}

/* Estilo para o campo de entrada de e-mail quando está em foco (selecionado) */
input[type="email"]:focus {
    border-color: #007bff; /* Borda azul quando o campo está em foco */
    outline: none; /* Remove a borda ao redor do campo quando está em foco */
}

#senhas{
    height: 20px;
    border-radius: 0%;

}



.fechar {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}

.fechar:hover,
.fechar:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
.botao{
    background-color: #4caf50;
    margin-top: 5px;
}
.botao:hover {
    background-color: #26c42e;
}
#abrirModal{
    text-decoration: none;
    /* Outros estilos para o link, se necessário */
}
@media screen and (max-width: 768px) {
    /* Adicione estilos específicos para telas menores que 768px de largura */
    .container {
        margin-top: 20px;
    }
    /* Adicione mais regras de mídia conforme necessário */
}

